.secretphrasecontainer {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  padding: 20px;
  border: 3px solid wheat;
  border-radius: 15px;
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
  text-align: center;
}

.showinputsbutton {
  padding: 10px 20px;
  background-color: wheat;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.showinputsbutton:hover {
  background-color: #ffffff;
}

.dropdowncontainer {
  overflow: hidden;
  transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  height: 0;
  opacity: 0;
}

.dropdowncontainer.open {
  height: auto;
  opacity: 1;
}

.phrasegrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 10px;
}

.wordbox {
  background-color: rgba(245, 222, 179, 0.838);
  color: #000000;
  padding: 10px 15px;
  border-radius: 4px;
  border: none;
  text-align: center;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.wordbox::placeholder {
  color: gray;
}

.wordbox:focus {
  outline: none;
  background-color: wheat;
  color: #000000;
}

.copybutton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: wheat;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.copybutton:hover {
  background-color: #ffffff;
}


.seedphrasegrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 0 10px;
  margin-top: 20px;
}

.seedword {
  background-color: wheat;
  color: #000000;
  padding: 10px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .seedphrasegrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .seedphrasegrid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .seedphrasegrid {
      grid-template-columns: 1fr;
  }
}



/* Responsive adjustments */
@media (max-width: 768px) {
  .phrasegrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .phrasegrid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 320px) {
  .phrasegrid {
      grid-template-columns: 1fr;
  }
}
